* {
  margin: 0;
  padding: 0; }

body {
  color: white;
  background-color: #2d2d2d;
  font-family: 'Arial', serif;
  padding: 50px; }
  body .search {
    position: relative; }
    body .search #proposals {
      background-color: #fff;
      color: black;
      position: absolute; }
      body .search #proposals .proposal {
        display: block;
        transition: 0.33s; }
        body .search #proposals .proposal:hover {
          background-color: #ddd;
          cursor: pointer; }
