@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #5a5a5a;
  transition: 0.5s; }
  body .container {
    color: white;
    background-color: #222;
    font-family: 'Arial', serif;
    padding: 50px;
    text-align: center;
    background-size: cover;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
    box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.8), -12px 0 8px -4px rgba(0, 0, 0, 0.8); }
    body .container .search {
      position: relative; }
    body .container .heroes {
      margin-top: 50px; }
    body .container #result {
      background-color: #222;
      height: auto;
      transition: 1s;
      padding: 50px 100px;
      border: 0;
      color: white; }
    body .container .comics {
      padding: 0 50px 20px;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
      border-top: 1px solid white; }
      body .container .comics .txtshadow {
        text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black; }
      body .container .comics .more {
        padding: 20px 40px 15px;
        margin-bottom: 20px;
        text-shadow: unset !important;
        background-color: black;
        border-bottom: 5px solid #222;
        color: white;
        font-size: 18px;
        font-style: italic; }
  body .plate {
    width: 410px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px; }
    body .plate .script {
      font-family: "Seaweed Script", serif;
      color: #fff;
      text-align: center;
      font-size: 40px;
      position: relative;
      margin: 0; }
    body .plate .script span {
      padding: 0 0.3em; }
    body .plate .script:before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      top: 50%;
      width: 100%;
      border-bottom: 3px solid #fff; }
    body .plate .shadow {
      color: #fff;
      font-family: Arvo;
      font-weight: bold;
      text-shadow: -3px -3px 0 #222, 3px -3px 0 #222, -3px 3px 0 #222, 3px 3px 0 #222, 4px 4px 0 #fff, 5px 5px 0 #fff, 6px 6px 0 #fff, 7px 7px 0 #fff;
      line-height: 0.8em;
      letter-spacing: 0.1em;
      transform: scaleY(0.7);
      -webkit-transform: scaleY(0.7);
      -moz-transform: scaleY(0.7);
      margin: 0;
      text-align: center; }
    body .plate .text1 {
      font-size: 40px; }
    body .plate .text2 {
      font-size: 100px; }
    body .plate .text3 {
      font-size: 60px; }

.hide {
  display: none; }
